


/* color for the title class */
#title {
    background-color: #ff4c68 ;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-family: "Ubuntu", sans-serif;
}

.container-fluid{
    padding: 3% 15%
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;   
}
 
.nav-item {
    padding: 0 18px;
    font-family: 'Ubuntu', sans-serif;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 300px;
   }

.navbar-brand {
    font-family: Ubuntu;
    font-size: 2.5rem;
    font-weight: bold;
}


body{
    font-family: "Montserrat";
}

/* H1 and H3 */

h1{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}

/*
h3 {
    font-family: 'Montserrat';
    font-weight: 800;
}
*/

img {
    -ms-transform: rotate(10deg); /* IE 9 */
    
}

/* Download Buttons */
.download-button {
    margin: 5% 3% 5% 0%;
}

/* Title images */
.title-image {
    width: 60%;
    transform: rotate(15deg);
}

/* Features */
#features {
    padding: 7% 15%;
}
